p.solid {border-style: solid;}
#violet {
border-top-color:#d300c9
}
#indigo{
border-top-color:#8a2be2
}

#blue{
border-top-color:#06f
}
#green{
border-top-color: #00bc3f
}
#yellow{
border-top-color: #ff0
}
#orange{
 border-top-color:#ffa500
}
#red{
 border-top-color:#f00
}